<nav class="navigation-links">
  <%= link_to 'My Recipes', recipes_path, class: "btn-general"  %>
  <%= link_to 'Public Recipes', public_recipes_path, class: "btn-general"  %>
  <%= link_to 'Foods', foods_path, class: "btn-general"  %>

  <%
=begin%>
 <%= link_to 'My Foods', foods_path, class: "btn-general"  %> 
<%
=end%>
  <%
=begin%>
 <%= link_to 'My Foods', foods_path, class: "btn-general"  %> 
<%
=end%>
</nav>